.Container ul {
  list-style: none;
  padding: 0px;
}
.Container li {
  display: inline;
  margin: 0px 30px;
  font-family: "Source Sans Pro", sans-serif;
}

.Container {
  max-width: 60%;
  margin-top: 100px;
}

.Container .card {
  margin: 0 auto;
  padding: 20px;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  box-shadow: 5px, 5px, 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.Container h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  opacity: 0.8;
  font-size: 20px;
}

.Container h1 {
  font-size: 30px;
}
.Container h2 {
  font-size: 20px;
}
.Container h3:first-letter {
  text-transform: capitalize;
}

.Container .form-group .city,
.current .submitButton {
  font-family: "Playfair Display", serif;
}

.Container .city {
  border: none;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px, 5px, 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.Container .current,
.submitButton {
  background: #318fb5;
  padding: 35px, 40px;
  transition: all 200ms ease-in-out;
  color: #f4f4f4;
  border: none;
  margin-bottom: 7px;
  font-size: 20px;
}

.Container .current {
  background: #eea2a2;
}

.Container .current:hover {
  background: #318fb5;
}

.Container .temp {
  font-size: 45px;
  opacity: 0.8;
  margin-left: -10px;
}
.Container .degree .iconImg,
.iconImages {
  max-width: 80px;
  margin: 0px;
  margin-top: -20px;
  padding: 0%;
}
.Container .iconImages {
  margin-left: -20px;
  margin-bottom: -15px;
}

.Container .unit {
  position: relative;
  top: -20px;
}

.Container .active {
  color: rgba(0, 0, 0, 0.8);
  cursor: default;
}

.Container .active:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
